*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(142, 216, 226);
}
.details{
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 20px;
    z-index: 1;
}
.details .img{
    width: 100%;
    margin: 0 auto;
}
.details .img img{
    width: 100%;
    height: 100%;
    background-size: cover;
}