.item{
    opacity:0.4;
    transition:.4s ease all;
    margin:0 20px;
    transform:scale(.8);
  }
  @media(max-width:1000px){
    .item{margin:0; transform:scale(.9)}
  }
  .active .item{
    opacity:1;
    transform:scale(1);
  } 
  body{
    padding:0;
    margin:80px 0 0 0;
    font-family:Merriweather;
    background:#f0e8d5;
  }
  
  .owl-item {
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
  
  .inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
  .inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
  .inner a:hover{border-color:#fff;}
  .black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
  .black .inner a:hover{border-color:#000;}
  
  
  
  .owl-controls{position:absolute; margin-top:300px;}