.carousel,
.carousel-inner,
.carousel-inner > .item{
    overflow: hidden;
}
.carousel-inner::before{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 82%;
    left: 0;
    content: '';
    display: block;
    background-color: #fff;
    z-index: 2;
}
.carousel-inner::after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 82%;
    content: '';
    display: block;
    background-color: #fff;
    z-index: 2;
}
.carousel-inner.left, .carousel-inner.right{
    background: initial;
    width: 30%;
    color: #000;
    z-index: 10;
    top: -10px;
}