*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel{
    background: #fafafa;
    width: 100%;
    margin: 0 auto;
}
.carousel-cell{
    border-radius: 5px;
    width: 97%;
    margin: 0 auto;
}
.slider-card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(1);
    transition: all 0.3s;
}
.slider-card .img{
    width: 100%;
    height: 100%;
}