*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{scroll-behavior: smooth;}
body
{
    font-family: sans-serif;
    background-color: #fff;
}
.slider{
    margin-bottom: 20px;
    position: relative;
}
.slider .owl-item.active.center .slider-card{
    transform: scale(1.15);
    opacity: 1;
    background: #e43a15;
    background: linear-gradient(to right,#e65245, #e43a15);
    color: #fff;
}
.slider-card{
    background-color: #fff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(0.8);
    opacity: 0.5;
    transition: all 0.3s;
}
.slider-card img{
    border-radius: 5px 5px 0 0 ;
}
.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important; 
    z-index: 1;
}

@media screen and (max-width:991px){
    .slider-card{
        margin: 50px 15px 90px 15px;
    }
    .slider-card h5{
        font-size: 18px;
    }
    .slider-card p{
        font-size: 13px;
    }
}

@media screen and (max-width:800px){
    .slider-card h5{
        font-size: 15px;
    }
    .slider-card p{
        font-size: 12px;
    }
}
@media screen and (max-width:600px){
    .slider-card h5{
        font-size: 24px;
    }
    .slider-card p{
        font-size: 15px;
    }
}
@media screen and (max-width:400px){
    .slider-card h5{
        font-size: 20px;
     padding-bottom: 5px;
    }
    .slider-card p{
        font-size: 15px;
    }
    .slider .img{
        width: 100%;
    }
}